<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="css/main.css" />

  <% if (mode.includes('dev')) { %>
  <script>
    const ws = new WebSocket(`ws://${location.hostname}:${parseInt(<%= port %>) + 1}`);
    ws.onclose = () => {
        setTimeout(() => location.reload(), 2000);
    };
  </script>
  <% } %>
</head>
