body {
  background-color: rgb(253, 253, 251);
  height: 100%;
}
.dev-mode-msg-container {
  background-color: rgb(209, 71, 92);
  width: fit-content;
  padding: 8px 10px;
  border-radius: 5px;
}
.dev-mode-msg {
  color: white;
}
