html {
  height: 100%;
}
body {
  background-color: #fffefc;
  margin: 0;
  color: #5f5143;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.img-container img {
  width: 40%;
}
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #142550;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #fffefc;
  font-size: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-left: 10px;
  margin-right: 10px;
}
nav ul li::after {
  content: "  |";
  color: #fffefc;
  font-size: 1.2rem;
}
nav ul li:last-of-type::after {
  content: "";
}
nav ul li {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#logo {
  width: 100px;
  padding-left: 10px;
}
#theme-toggle {
  font-size: 30px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

footer {
  border-top: 0.5px solid #5f5143;
  width: 100%;
  padding: 10px;
  position: relative;
}

.dev-mode-msg {
  color: #e45a0b;
}
/*dark theme */
.dark {
  background-color: #1d1d1c;
  color: #fffefc;
}
.dark nav {
  background-color: #1d1d1c;
  border-bottom: 0.5px solid #fffefc;
}
.dark footer {
  border-top: 0.5px solid #fffefc;
}
.dark .dev-mode-msg {
  color: #f77023;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid #5f5143;
  border-radius: 10px;
  padding: 15px;
}
.game-card img,
.game-image {
  height: 200px;
}

/* delete classification */
.category-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  & .category-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    &.header {
      background-color: #f4f4f4;
      font-weight: bold;
      text-transform: uppercase;
    }

    & .category-cell {
      flex: 1;
      padding: 8px;
      text-align: left;

      & select {
        width: 100%;
        padding: 5px;
      }

      & button {
        background-color: #d9534f;
        color: white;
        border: none;
        padding: 6px 10px;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
          background-color: #c9302c;
        }
      }
    }
  }
}
