<form
  action="/category/add/classification"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <label for="classification_name">Classification Name:</label>
    <input
      type="text"
      id="classification_name"
      name="classification_name"
      required
    />
  </div>

  <button type="submit">Add Classification</button>
</form>
