<h1>Delete a Category</h1>

<div class="category-table">
  <div class="category-row header">
    <div class="category-cell">Category Name</div>
    <div class="category-cell">Move Games To</div>
    <div class="category-cell">Delete</div>
  </div>

  <% classifications.forEach((category) => { %>
  <form action="/category/delete/classification" method="POST">
    <!-- <input
      type="hidden"
      name="classification_id"
      value="<%= classifications.classification_id %>"
    /> -->
    <div class="category-row">
      <div class="category-cell"><%= category.classification_name %></div>
      <div class="category-cell">
        <select name="new_category_id">
          <option value="">-- Choose an Option --</option>
          <option value="delete">Do Not Move, Delete Games</option>
          <% classifications.forEach((otherCategory) => { %>
          <option value="<%= otherCategory.classification_id %>">
            <%= otherCategory.classification_name %>
          </option>
          <% }); %>
        </select>
      </div>
      <div class="category-cell">
        <button type="submit">Delete</button>
      </div>
    </div>
  </form>
  <% }); %>
</div>
