<h1>About Page</h1>
<p>
  I'm Valeria, originally from Lima, Peru. I'm 25 and a Pisces. I love cats and
  food, especially eating out and trying new dishes.
</p>
<div class="img-container">
  <img src="images/profile.JPG" />
</div>
