<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<link rel="stylesheet" href="/css/main.css" />
<%if(styles.length > 0) { %> <%- styles.join('\n') %> <% } %>
<%if(scripts.length > 0) { %> <%- scripts.join('\n') %> <% } %>
