<nav>
  <a href="/"><img id="logo" src="/images/logo.png" /></a>
  <%-navHTML%>
</nav>

<!-- <div class="logo-container">
  <div id="theme-toggle">🌙</div>
  <a href="/"><img id="logo" src="/images/logo.png" /></a>
</div> -->
