<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <main>
      <div id="theme-toggle">🌙</div>
      <%- body %>
    </main>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
